<%= form_with(model: word_net, local: true) do |form| %>
  <% if word_net.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word_net.errors.count, "error") %> prohibited this word_net from being saved:</h2>

      <ul>
        <% word_net.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
